description 'imager'

start on (filesystem)
stop on runlevel [016]

respawn
setuid www-data
setgid www-data
chdir {{ manage_home }}
env SECRET_KEY="{{ SECRET_KEY }}"
env RDS_DB_NAME="{{ db_host.ec2_DBName }}"
env RDS_USERNAME="{{ db_host.ec2_master_username }}"
env RDS_PASSWORD="{{ RDS_PASSWORD }}"
env RDS_HOSTNAME="{{ db_host.ec2__address }}"
env RDS_PORT="{{ db_host.ec2__port }}"
env DJANGO_CONFIGURATION=Prod
env DJANGO_SETTINGS_MODULE=imager.settings

exec gunicorn -b 127.0.0.1:8000 -w 4 imager.wsgi --error-logfile /tmp/gunicorn-error.log
