description 'imager'

start on (filesystem)
stop on runlevel [016]

respawn
setuid www-data
setgid nogroup
chdir /home/ubuntu/imager/django-imager/imager
env SECRET_KEY==^&zx$ghu261#fb^#epeve1tve@l_-_6t#q5@%j6yhkt-b_qej
env RDS_DB_NAME=imager
env RDS_USERNAME=master
env RDS_PASSWORD=password
env RDS_HOSTNAME=imager.cwydhyrq6asz.us-west-2.rds.amazonaws.com
env RDS_PORT=5432
env DJANGO_CONFIGURATION=Prod
env DJANGO_SETTINGS_MODULE=imager.settings

exec /home/ubuntu/.virtualenvs/imager/bin/gunicorn --env DJANGO_SETTING$
